
.status-box {
    position: absolute;
    top: 10%;
    right: 15%;
    width: 30%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: monospace;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 10;
  }
  
  .status-box p.title {
    font-size: 40px;
    margin: 0;
  }
  
  .status-box p.reading {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .status-box p.reading + p.reading {
    margin-top: 10px;
  }
  
  .status-box p.reading span {
    font-weight: bold;
  }
  
  .canvas-style {
    position: absolute;
    z-index: 1;
    background: black;
  }
  